#episode_first {
  align-items: center;
  background: black;
  display: flex;
  height: 100%;
  flex-direction: column;
  
  #map {
    
  }

  div.instructions {
    position: relative;
    bottom: 100px;
    font-family: "Minecraft";
    color: var(--ryuk_white);
    justify-self: flex-end;
    z-index: 4;
  }
}
