#episode_first {
  align-items: center;
  background-image: url('/static/assets/episode_first_bg.png'); //not bad
  display: flex;
  height: 100%;
  flex-direction: column;
  
  #map {
    align-self: flex-start;
  }

  div.instructions {
    font-family: "Minecraft";
    color: var(--ryuk_white);
    justify-self: flex-end;
    z-index: 4;
  }
}
